pr1/ws/hw/project_1.xpr
**/ws/hw/project_1*

# Todo lo que haya dentro de sw, ignorado
**/ws/sw/**

# Solo permito entrar al primer nivel dentro de sw (apps/proyectos)
!**/ws/sw/*/

# Solo permito la carpeta src dentro de cada app
!**/ws/sw/*/src/

# Solo permito contenido de src
!**/ws/sw/*/src/**

!**/sources/exercise2/
!**/ne10-master/



# Vivado cache/state
**/.cache/**
**/.Xil/**
**/xsim.dir/**
**/*.jou
**/*.log
**/*.str

# Archivos generados por Vitis dentro de src
**/ws/sw/**/src/.clangd
**/ws/sw/**/src/compile_commands.json
**/ws/sw/**/src/Empty_applicationExample.cmake

# README generado por la plantilla de Vitis
**/ws/sw/**/src/README.txt

lab.code-workspace
README.md
.vscode/launch.json
.vscode/settings.json
pr1/.vscode/c_cpp_properties.json
pr1/.vscode/settings.json
